body,
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
p {
  margin-bottom: 0;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    padding: 0 15px;
    width: auto;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
@media (max-width: 767px) {
  header .container {
    padding: 0;
  }
}
header .subnav {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
@media (max-width: 767px) {
  header .subnav {
    display: none;
  }
}
header .subnav ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
header .subnav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .subnav ul li.phone a,
header .subnav ul li.email a {
  display: flex;
  align-items: center;
}
header .subnav ul li.phone a i,
header .subnav ul li.email a i {
  margin-right: 5px;
}
header .subnav ul li:last-child {
  margin-right: 0;
}
header .subnav ul li a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
}
header .navbarDefault {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .navbarDefault {
    display: block;
    position: relative;
    justify-content: inherit;
  }
}
header .navbarDefault .overLay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1300;
  display: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
header .navbarDefault .overLay.fixed {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  header .navbarDefault .logo {
    padding: 15px;
    overflow: hidden;
    display: inline-block;
  }
}
header .navbarDefault .logo img {
  width: auto;
  height: auto;
  max-height: 100px !important;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
header .navbarDefault .logo img.logoBlack {
  display: none;
}
header .navbarDefault .logo img.logoWhite {
  display: block;
}
header .navbarDefault .navbarToggle {
  background: transparent;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  display: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .navbarDefault .navbarToggle {
    display: block;
  }
}
header .navbarDefault .navbarToggle span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin-bottom: 4px;
}
header .navbarDefault .navbarToggle span:last-child {
  margin-bottom: 0;
}
header .navbarDefault .main-menu ul.menu-center {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
}
header .navbarDefault .main-menu ul.menu-center li {
  display: inline;
  margin: 0 35px;
  position: relative;
}
@media (max-width: 1199px) {
  header .navbarDefault .main-menu ul.menu-center li {
    margin: 0 15px;
  }
}
@media (max-width: 991px) {
  header .navbarDefault .main-menu ul.menu-center li {
    margin: 0;
  }
}
header .navbarDefault .main-menu ul.menu-center li.hide {
  display: none;
}
header .navbarDefault .main-menu ul.menu-center li:last-child {
  margin-right: 0;
}
header .navbarDefault .main-menu ul.menu-center li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  header .navbarDefault .main-menu ul.menu-center li a {
    font-size: 12px;
  }
}
header .navbarDefault .main-menu ul.menu-center li a img {
  opacity: 0.5;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 8px;
}
header .navbarDefault .main-menu ul.menu-center li a img.icon_02 {
  transform: rotate(-135deg);
  height: 18px;
}
header .navbarDefault .main-menu ul.menu-center li a:hover {
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ccc;
}
header .navbarDefault .main-menu ul.menu-center li a:hover img {
  opacity: 1;
}
header .navbarDefault .main-menu ul.menu-center li ul.children-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 18px 27px;
  padding-left: 0;
  min-width: 200px;
  background: rgba(57, 194, 248, 0.9);
  height: auto !important;
  border-top: 1px solid transparent;
}
header .navbarDefault .main-menu ul.menu-center li ul.children-menu li {
  display: block;
  margin: 0;
}
header .navbarDefault .main-menu ul.menu-center li ul.children-menu li a {
  margin: 0;
  width: calc(70%);
  display: block;
  padding: 0;
  padding: 5px 15px;
  border-bottom: none;
}
@media (min-width: 768px) {
  header .navbarDefault .main-menu ul.menu-center li:hover ul.children-menu {
    display: block;
    border-color: #fff;
  }
}
@media (max-width: 767px) {
  header .navbarDefault .main-menu {
    background-color: #fff;
    height: 100vh;
    width: 280px;
    float: left;
    position: absolute;
    right: -280px;
    top: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
    transition: all 0.2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
    visibility: visible;
    overflow-y: auto;
    z-index: 9991;
  }
  header .navbarDefault .main-menu.open {
    right: 0;
  }
  header .navbarDefault .main-menu ul {
    height: 100%;
    margin-top: 0;
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  header .navbarDefault .main-menu ul li {
    width: 100%;
    display: inline-block;
    margin: 0;
  }
  header .navbarDefault .main-menu ul li.hide {
    display: inline-block;
  }
  header .navbarDefault .main-menu ul li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    color: #707070;
    border-bottom: 1px solid #707070;
  }
  header .navbarDefault .main-menu ul li a:hover {
    color: #ccc;
  }
}
header.scrollFixed {
  padding: 5px 0;
  background-color: #fff;
  z-index: 999;
}
@media (max-width: 767px) {
  header.scrollFixed {
    padding: 0;
  }
}
header.scrollFixed .subnav {
  display: none;
}
header.scrollFixed .navbarDefault .main-menu ul li a {
  color: #707070;
}
header.scrollFixed .navbarDefault .main-menu ul li a:hover {
  color: #ccc;
}
header.scrollFixed .navbarDefault .main-menu ul li ul.children-menu li a {
  color: #fff;
}
header.scrollFixed .navbarDefault .main-menu ul li ul.children-menu li a:hover {
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ccc;
}
header.scrollFixed .navbarDefault .logo img.logoBlack {
  display: block;
}
header.scrollFixed .navbarDefault .logo img.logoWhite {
  display: none;
}
header.scrollFixed .navbarDefault .navbarToggle span {
  background-color: #000000;
}
header .fa-facebook {
  padding: 3px 5px;
  background-color: #4267b2;
  color: #fff;
}
.mainContent {
  min-height: 100vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background: url(../images/background_01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainContent .overlayMain {
  margin-top: 175px;
  text-align: center;
}
.mainContent .overlayMain h1.onStep {
  font-size: 35pt;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .mainContent .overlayMain h1.onStep {
    font-size: 20pt;
  }
}
.mainContent .overlayMain h2.subTitle {
  font-size: 35pt;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .mainContent .overlayMain h2.subTitle {
    font-size: 20pt;
  }
}
.mainContent .sliderIntro {
  margin-top: 70px;
  display: block;
}
@media (max-width: 599px) {
  .mainContent .sliderIntro {
    display: none;
  }
}
.mainContent .sliderIntro .item a {
  position: relative;
  display: block;
}
.mainContent .sliderIntro .item img {
  max-width: 100%;
}
.mainContent .sliderIntro .slick-prev {
  display: none !important;
  left: 0 !important;
  z-index: 9;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  width: 40px;
  height: 43px;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.mainContent .sliderIntro .slick-prev:before {
  font-family: FontAwesome;
  content: "\f104";
  opacity: 1;
  font-size: 16px;
}
.mainContent .sliderIntro .slick-prev:hover,
.mainContent .sliderIntro .slick-prev:focus {
  background-color: #000000;
}
.mainContent .sliderIntro .slick-next {
  display: none !important;
  right: 0px !important;
  z-index: 9;
  background-color: #000000;
  opacity: 0.5;
  width: 40px;
  height: 43px;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.mainContent .sliderIntro .slick-next:before {
  font-family: FontAwesome;
  content: "\f105";
  opacity: 1;
  font-size: 16px;
}
.mainContent .sliderIntro .slick-next:hover,
.mainContent .sliderIntro .slick-next:focus {
  background-color: #000000;
}
.mainContent .sliderIntro:hover .slick-prev,
.mainContent .sliderIntro:hover .slick-next {
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  display: block !important;
}
.whitePage {
  padding: 50px 0;
  overflow: hidden;
}
.whitePage .title {
  font-size: 22px;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.whitePage .subTitle {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  margin-top: 10px;
}
.whitePage .withGutter .col5 {
  width: calc(41.66666667% - 10px);
  float: left;
  padding-bottom: 20px;
}
.whitePage .withGutter .col7 {
  width: calc(58.33333333% - 10px);
  float: left;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .whitePage .withGutter .col5,
  .whitePage .withGutter .col7 {
    width: calc(50% - 10px);
  }
}
@media (max-width: 599px) {
  .whitePage .withGutter .col5,
  .whitePage .withGutter .col7 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.whitePage .withGutter .custom1,
.whitePage .withGutter .custom3 {
  padding-right: 10px;
}
.whitePage .withGutter .custom2,
.whitePage .withGutter .custom4 {
  padding-left: 10px;
}
.whitePage .withGutter .muc01,
.whitePage .withGutter .muc02,
.whitePage .withGutter .muc03,
.whitePage .withGutter .muc04 {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 330px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.whitePage .withGutter .muc01 .hoverEffect,
.whitePage .withGutter .muc02 .hoverEffect,
.whitePage .withGutter .muc03 .hoverEffect,
.whitePage .withGutter .muc04 .hoverEffect {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.whitePage .withGutter .muc01 .hoverEffect .overlay,
.whitePage .withGutter .muc02 .hoverEffect .overlay,
.whitePage .withGutter .muc03 .hoverEffect .overlay,
.whitePage .withGutter .muc04 .hoverEffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.whitePage .withGutter .muc01 .hoverEffect .overlay.vAlign,
.whitePage .withGutter .muc02 .hoverEffect .overlay.vAlign,
.whitePage .withGutter .muc03 .hoverEffect .overlay.vAlign,
.whitePage .withGutter .muc04 .hoverEffect .overlay.vAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.whitePage .withGutter .muc01 .hoverEffect .overlay.vAlign .content,
.whitePage .withGutter .muc02 .hoverEffect .overlay.vAlign .content,
.whitePage .withGutter .muc03 .hoverEffect .overlay.vAlign .content,
.whitePage .withGutter .muc04 .hoverEffect .overlay.vAlign .content {
  white-space: nowrap;
}
.whitePage .withGutter .muc01 .hoverEffect .overlay .heading,
.whitePage .withGutter .muc02 .hoverEffect .overlay .heading,
.whitePage .withGutter .muc03 .hoverEffect .overlay .heading,
.whitePage .withGutter .muc04 .hoverEffect .overlay .heading {
  font-size: 22px;
  font-weight: 500;
}
.whitePage .withGutter .muc01 .hoverEffect .overlay .subHeading,
.whitePage .withGutter .muc02 .hoverEffect .overlay .subHeading,
.whitePage .withGutter .muc03 .hoverEffect .overlay .subHeading,
.whitePage .withGutter .muc04 .hoverEffect .overlay .subHeading {
  font-size: 16px;
}
.whitePage .withGutter .muc01 .hoverEffect:hover .overlay,
.whitePage .withGutter .muc02 .hoverEffect:hover .overlay,
.whitePage .withGutter .muc03 .hoverEffect:hover .overlay,
.whitePage .withGutter .muc04 .hoverEffect:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.whitePage .withGutter .muc01 .hoverEffect:hover .deviderProjects,
.whitePage .withGutter .muc02 .hoverEffect:hover .deviderProjects,
.whitePage .withGutter .muc03 .hoverEffect:hover .deviderProjects,
.whitePage .withGutter .muc04 .hoverEffect:hover .deviderProjects {
  width: 135px;
  border-top: 3px solid #3ab0ff;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.whitePage .withGutter .muc01 {
  background-image: url(../images/monngon/grilled.jpg);
}
.whitePage .withGutter .muc01.muc001 {
  background-image: url(../images/listMuc/muc-nang-new.jpg);
}
.whitePage .withGutter .muc02 {
  background-image: url(../images/monngon/muc-hap-indo.jpg);
}
.whitePage .withGutter .muc02.muc002 {
  background-image: url(../images/listMuc/muc-ong-new.jpg);
}
.whitePage .withGutter .muc03 {
  background-image: url(../images/monngon/squid.jpg);
}
.whitePage .withGutter .muc03.muc003 {
  background-image: url(../images/listMuc/muc-la-new.jpg);
}
.whitePage .withGutter .muc04 {
  background-image: url(../images/monngon/muc-trung-hap.jpg);
}
.whitePage .withGutter .muc04.muc004 {
  background-image: url(../images/listMuc/cua-bien.jpg);
}
.whitePage .withGutter .muc005 {
  background-image: url(../images/monngon/gioi-muc.jpg);
}
.whitePage .withGutter .muc006 {
  background-image: url(../images/monngon/cach-so-che-muc-trung12.jpg);
}
.whitePage .withGutter .muc007 {
  background-image: url(../images/monngon/cach-lam-muc-nuong-sa-te-11.jpg);
}
.whitePage .withGutter .muc008 {
  background-image: url(../images/monngon/muc-nuong-muoi-ot.jpg);
}
.bookOrder {
  overflow: hidden;
  background-image: url(../images/bg-dathang.png);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 90px 0 90px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bookOrder .formBookingOrder {
  color: #333;
  min-height: 290px;
  padding: 60px;
}
@media (max-width: 767px) {
  .bookOrder .formBookingOrder {
    padding: 0;
  }
}
.bookOrder .formBookingOrder .headingTitle {
  word-wrap: break-word;
  line-height: 40pt;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  font-size: 2rem;
  color: #fff;
}
.bookOrder .formBookingOrder .leftFormGroup {
  width: 55%;
  float: left;
}
.bookOrder .formBookingOrder .leftFormGroup .logo-shipping {
  display: none;
}
.bookOrder .formBookingOrder .leftFormGroup .logo-shipping img {
  width: 100%;
}
@media (max-width: 767px) {
  .bookOrder .formBookingOrder .leftFormGroup {
    width: 100%;
  }
  .bookOrder .formBookingOrder .leftFormGroup .logo-shipping {
    display: block;
  }
}
.bookOrder .formBookingOrder .leftFormGroup input,
.bookOrder .formBookingOrder .leftFormGroup textarea {
  width: 80%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #335e7a;
  border-radius: 0px;
  padding: 10px;
  padding-left: 35px;
  font-size: 14px;
  color: #e1e1e1;
  outline: none;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .bookOrder .formBookingOrder .leftFormGroup input,
  .bookOrder .formBookingOrder .leftFormGroup textarea {
    width: 100%;
    width: -webkit-fill-available;
  }
}
.bookOrder .formBookingOrder .leftFormGroup input:focus,
.bookOrder .formBookingOrder .leftFormGroup textarea:focus {
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #3ab0ff;
}
.bookOrder .formBookingOrder .leftFormGroup input::-webkit-input-placeholder,
.bookOrder .formBookingOrder .leftFormGroup textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #e1e1e1;
  font-size: 14px;
}
.bookOrder .formBookingOrder .leftFormGroup input::-moz-placeholder,
.bookOrder .formBookingOrder .leftFormGroup textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #e1e1e1;
  font-size: 14px;
}
.bookOrder .formBookingOrder .leftFormGroup input:-ms-input-placeholder,
.bookOrder .formBookingOrder .leftFormGroup textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #e1e1e1;
  font-size: 14px;
}
.bookOrder .formBookingOrder .leftFormGroup input:-moz-placeholder,
.bookOrder .formBookingOrder .leftFormGroup textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #e1e1e1;
  font-size: 14px;
}
.bookOrder .formBookingOrder .leftFormGroup .submitBooking {
  display: block;
  float: left;
  width: 210px;
  height: 50px;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  line-height: 36px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.6);
  outline: none;
  text-shadow: none;
  margin: 15px auto;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bookOrder .formBookingOrder .leftFormGroup .submitBooking:hover {
  background: #3bb0ff;
  color: #fff;
}
.bookOrder .formBookingOrder .leftFormGroup .user,
.bookOrder .formBookingOrder .leftFormGroup .address,
.bookOrder .formBookingOrder .leftFormGroup .phone,
.bookOrder .formBookingOrder .leftFormGroup .email,
.bookOrder .formBookingOrder .leftFormGroup .contentBooking {
  position: relative;
  margin-bottom: 10px;
}
.bookOrder .formBookingOrder .leftFormGroup .user i,
.bookOrder .formBookingOrder .leftFormGroup .address i,
.bookOrder .formBookingOrder .leftFormGroup .phone i,
.bookOrder .formBookingOrder .leftFormGroup .email i,
.bookOrder .formBookingOrder .leftFormGroup .contentBooking i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
.bookOrder .formBookingOrder .leftFormGroup .user .error-message,
.bookOrder .formBookingOrder .leftFormGroup .address .error-message,
.bookOrder .formBookingOrder .leftFormGroup .phone .error-message,
.bookOrder .formBookingOrder .leftFormGroup .email .error-message,
.bookOrder .formBookingOrder .leftFormGroup .contentBooking .error-message {
  margin-top: 3px;
  font-size: 12px;
  color: red;
  margin-left: 5px;
}
.bookOrder .formBookingOrder .rightFormGroup {
  width: 45%;
  float: left;
}
.bookOrder .formBookingOrder .rightFormGroup img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .bookOrder .formBookingOrder .rightFormGroup {
    display: none;
  }
}
.brandPage {
  background-image: url(../images/bg-logo.jpg);
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0 60px 0;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.brandPage .sliderBrandPage .item {
  padding: 5px;
  outline: none;
}
.brandPage .sliderBrandPage .item a {
  outline: none;
}
.brandPage .sliderBrandPage .item a img {
  max-width: 100%;
  outline: none;
  border-radius: 50%;
}
.deviderCenter {
  display: block;
  border-top: 4px solid #3ab0ff;
  width: 87px;
  margin: 10px auto;
  margin-bottom: 10px;
  text-align: center;
}
.deviderProjects {
  display: block;
  border-top: 3px solid rgba(255, 255, 255, 0.6);
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.slick-dots li button:before {
  color: #3ab0ff;
  opacity: 0.5;
}
.slick-dots li.slick-active button:before {
  color: #3ab0ff;
  opacity: 1;
}
footer {
  width: 100%;
  background: #3ab0ff;
  height: auto;
  color: #fff;
  box-shadow: 5px 5px 20px rgba(23, 36, 52, 0.8);
  font-weight: 300;
  text-align: left;
  padding: 90px 0 70px 0;
  margin: 0 auto;
}
.footerWhite {
  background: #3ab0ff;
  color: #fff;
  font-size: 9pt;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 25px 0 25px 0;
  box-shadow: 5px 5px 15px rgba(23, 36, 52, 0.3);
}
.mainDetail {
  min-height: 100vh;
}
